*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100%;
    padding: 15px;
}
header {
    width: 100%;
    /*height: 100%;*/
    height: 250px;
    background-position: top center;
    background-size: cover;
}
header img{
    width: 100%;
    height: 250px;
}
html, body {
    width: 100%;
    height: 100%;

}
section {
    display: flex;
    justify-content: space-between;
}
.menu {
    width: 25%;
}
.menu ul {
    border: 1px solid blue;
}
.menu ul li {
    list-style: none;
    border: 1px solid blue;
    padding: 5px;
}
.menu ul li :last-child{
    border-bottom: 0px solid blue;
}
.menu ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
.content {
    width: 75%;
    text-align: center;
}
.content h3 {
    color: red;
    margin: 2px auto;
}
.content hr {
    width:  90%;
    background-color: red;
    height: 2px;
    margin-top: 20px;
}
.content img {
    width: 200px;
}


